.panel{
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    background-color: #fff;
    min-height: 30rem;

}
.list_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list_item span{
    display: inline-block;
}

.list_item .item_name{
    width: 60%;
}
.list_item .item_edit{
    width: 15%;
}
.list_item .item_edit a{
    padding: 0 0.5rem;
}
.list_footer{
    text-align: right;
}