.dishes_add_main{
    width: 100%;
    min-height: 45rem; 
}

.dishes_add_main .dishes_add_area{
    min-height: 40rem;
    border-radius: 3px;
    padding: 1rem;
    background-color:#fff;
    margin: 0 auto;
}


.dishes_add_main .dishes_add_content{
    margin: 6rem 0;
}

.dishes_add_main .dishes_add_content .submit_button{
    /* background-color: red; */
    text-align: right;
}