@media all and (min-width: 768px) {
    .single_food_main{
        min-height: 36rem;
    }

    .single_food_main .food_message_area{
        width: 100%;
        height: 30rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
        display: flex;
        align-items: center;
        padding:3rem;
        
    }
  
    /* 左侧文字 */
    .single_food_main .food_message_area .food_message{
        align-items: center;
        display: inline-block;
        width: 60%;
        height: 24rem;
        padding: 2rem;
    }
    .food_message_area .food_message *{
        text-align: left;
    }
    .food_message_area .food_message .food_name{
        
        font-size: 1.8rem;
        color:#333;
    }
    .food_message_area .food_message .food_details{
        
        color:#333;
        font-size: 1.2rem;
        margin-top: 2rem;
        height: 10rem;
        overflow: hidden;
    }
    .food_message .unit_price_and_btn{
        margin-top: 2rem;
    }
    .food_message .unit_price_and_btn .unit_price{
        display: inline-block;
        width: 70%;
        color: #D9272E;
        font-size: 1.5rem;
        font-weight: bolder;

    }
    .food_message .unit_price_and_btn .unit_btn{
        display: inline-block;
        width: 20%;
    }

    /* 右侧图片 */
    .single_food_main .food_message_area .food_pic{
        align-items: center;
        display: inline-block;
        width: 40%;
        height: 24rem;
        display:flex;
        overflow: hidden;
    }

    .single_food_main .food_message_area img{
       width: 90%;
       flex-shrink: 0;
    }
    /* 我的评价区域开始 */
    .create_appraise{
        height: 16rem;
        margin-top: 3rem;
        border-radius: 10px;
        padding: 1rem 3.2rem 2rem 3.2rem;
        background-color: #fff;
    }
    .create_appraise .create_appraise_title{
        text-align: left;
        font-size: 1rem;
        padding: 1rem 0;
    }
    .create_appraise .create_appraise_area{
    }
    .create_appraise .create_appraise_area .text_input{

    }
    .create_appraise .create_appraise_area .star_and_btn{
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .create_appraise .create_appraise_area .start_and_btn .star{
        display: inline-block;
        width: 20%;
    }
    .create_appraise .create_appraise_area .start_and_btn .commit_btn{
        display: inline-block;
        padding: 0rem 1rem;
        width: 20%;
    }
    
    

    
    
    /* 我的评价区域结束 */

    /* 其他用户评价区域 */
    .food_message_appraise{
        min-height: 21rem;
        background-color: #fff;
        margin-top: 3rem;
        border-radius: 10px;
        padding: 1rem 3.2rem 2rem 3.2rem;
    }

    .food_message_appraise .appraise_area_title{
        text-align: left;
        font-size: 1rem;
        padding: 1rem 0;
    }
    .food_message_appraise .appraise_area{
        /* background-color: green; */
        border-bottom: 1px solid #EAEAEF;
        width: 100%;
        height: 12rem;
    }
    .food_message_appraise .appraise_area *{
        text-align: left;
        /* background-color: pink; */
    }
    .food_message_appraise .appraise_area .appraise_nickname{
        color:#333;
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
    }
    .food_message_appraise .appraise_area .appraise_star_and_time{
        margin: 0.5rem 0;
    }
    .food_message_appraise .appraise_area .appraise_star{
        display: inline-block;
        width: 90%;
    }
    .food_message_appraise .appraise_area .appraise_time{
        display: inline-block;
        width: 10%;
        font-weight: bold;
    }
    .food_message_appraise .appraise_area .appraise_content{
        height: 5rem;
        overflow: hidden;
        padding: 1rem 0;
       
    }

    /* 分页样式 */

    .pagination{
        width: 100%;
        padding: 2rem 0 2rem 0;
    }

    .pagination .layout{
        margin: 0 auto;
    }
}

