.admin_login_panel{
    width: 100%;
    height: 88vh;
    /* background-color: yellowgreen; */
    display: flex;
    
    align-items: center;
}
.admin_login_panel .admin_login_area{
    /* width: 30%; */
    height: 27rem;
    background-color: #fff;
    /* align-items: center; */
    margin:0 auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
}

.admin_login_panel .admin_login_area .login_title{
    padding: 1.5rem 3rem;
    font-size: 1rem;
    text-align: left;
}
.admin_login_panel .admin_login_area .login_content{
    /* margin: 2rem 3rem 3rem 3rem; */
    height: 22rem;
    background-color: #fff;
    text-align: left;
}