.shoppingcartPage{
    min-height: 55vh;
    margin-bottom: 1rem;
}
.shoppingcartmain{
    width: 100%;
    min-height: 35rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
   
}
/* 购物车为空时的显示内容　start */
.shoppingcartmain .shoppingcart_empty{
    min-height: 35rem;
    display: flex;
    align-items: center;
   
}
.shoppingcartmain .shoppingcart_empty span{
    align-items: center;
    font-size: 1.5rem;
    color: #07111b;
    margin: auto;
}
/*  end */

/* 购物车的头 */
.shoppingcartmain .shoppingcart_header{
    padding: 3.2rem;
    height: 7rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEAEF;
    
}

.shoppingcartmain .shoppingcart_header span{
    align-items: center;
    display: inline-block;
    text-align: left;
}
.shoppingcartmain .choose{
   width: 10%;
}



.shoppingcartmain .food{
    width: 50%;
}
.shoppingcartmain .shoppingcart_header .food{
    padding-left: 2rem;
}
.shoppingcartmain .unitprice{
    width: 10%;
}
.shoppingcartmain .mount{
    width: 10%;
}

.shoppingcartmain .money{
    width: 10%;
}
.shoppingcartmain .option{
    width: 5%;
}



/* 购物车的footer */

.shoppingcart_footer{
    padding: 0rem 3.2rem 1rem 3.2rem;
    height: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* border-bottom: 1px solid #EAEAEF; */
}

.shoppingcart_footer .footer_area{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.5rem 5rem 0.5rem 0;
}

.shoppingcart_footer .footer_area .footer_money{
    padding: 1rem;
    display: inline-block;
    align-items:flex-end;
    width: 10rem;
    height: 5.5rem;
    text-align: left;
    color: #07111b;
}

.shoppingcart_footer .footer_area .footer_money .money_value{
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    color:#D9272E;
    font-weight: bolder;
}
