/* 购物车的内容区域 */
.shoppingcartmain .shoppingcart_content{
    padding:1rem 3.2rem;
}
.shoppingcartmain .shoppingcart_content .content_area{
    height: 10rem;
    display: flex;
    align-items: center;
}
.shoppingcart_content .content_area .single_foods{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #EAEAEF;
}
.shoppingcart_content .content_area .single_foods span{
    align-items: center;
    display: inline-block;
}
.shoppingcart_content .content_area .single_foods img{
    align-items: center;
    width: 8rem;
    height: 8rem;
}

.single_foods > span{
    padding-left: 0.2rem;
}
.shoppingcart_content .content_area .single_foods .food_name{
    color: #07111b;
    font-size: 1.2rem;
    padding-left: 1rem;
}
.single_foods .money .howmuch{
    font-weight: bolder;
    font-size: 1rem;
    color: #07111b;
}