
.singlecard{
    width: 20rem;
    height: 25rem;
    background-color:#fff;
    margin: 0rem 0rem 2rem 2rem;
    display: inline-block;
}

.singlecard_pic{
    height: 19rem;
    -moz-box-shadow:3px 3px 5px #f4f5f5;
    -webkit-box-shadow:3px 3px 5px #f4f5f5; 
    box-shadow:3px 3px 5px #f4f5f5;

}

.singlecard_pic img{
    width: 100%;
    height: 100%;
}


.singlecard_content{
    height: 6rem;

}

.singlecard_content .food_name{
   padding:0.5rem 0.5rem 0.5rem 1.5rem;
   text-align: left;
}

.singlecard_content .food_name span{
    font-size: 1.2rem;
    color:#333;
}

.singlecard_content .food_message{
    text-align: left;
}

.singlecard_content .food_message .food_price{
    display: inline-block;
    width: 60%;
    padding:0.5rem 0.5rem 0.5rem 1.5rem;
    /* background-color: red; */
}

.singlecard_content .food_message .food_price span{
    color: #D9272E;
    font-weight: 900;
    font-size: 1.5rem;
}

.singlecard_content .food_message .food_order{
    display: inline-block;
    width: 40%;
    padding:0.5rem 0.5rem 0.5rem 0.8rem;
    /* background-color: blue; */
    float: right;
}