.Header_header{
    width: 100%;
    height: 5.1rem;
    background-color: #fff;
    border-bottom: 1px solid #EAEAEF;
    box-shadow: 0 0 10px 0.05rem #EAEAEF;
}

.Header_header_inner{
    width: 100%;
    height: 5rem;
    background-color: #fff;
   
}

.inner_logo{
    height: 5rem;
    display: flex;
    align-items: center;
}

.inner_logo img{
    height: 4rem;
    align-items: center;
}

.inner_part{
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.inner_userBtn{
    padding: 0.5rem;
    background-color: #fff;
}

