@media all and (min-width: 768px) {
    .forgetPassword_main{
        height: 36rem;
        /* background-color: blue; */
    }
    .forgetPassword_area{
        width: 100%;
        height: 25rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
    }
}

